<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog ninjas</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog ninja</h1></a>
            <p>A net ninja site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create"></a>New Blogs</li>
        </ul>
    </nav>

    <div class="blogs content">
        <h2>All Blogs</h2>
        
    </div>
</body>
</html>